html
    head
        include navbar.pug
        title Stock Overflowx - Questions Details
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        link(rel="stylesheet", href="/css/question-details.css")
    body
      div(class="container-question")
          div(class="question")
              h2 #{question.title}
               div(class="resolved")
                button(type='submit') Unresolved
              p #{question.content}
              hr(size="1")
              //- Comments display not working due to undefined id of comment
              
              //- for comment in question.comments
                comment
                div(class="quest-content")
                    h3 #{comment.user.username} - #{comment.createdAt}
                    p #{comment.content}
              div(class="question-form")
                  form(action='/question-details/' + question.id, method='post')
                    label(for='content') Your Answser
                    textarea(class="text" id='content' name='content')
                    div(class="button-send")
                        button(type='submit') Send
        
